* {
  margin: 0;
  padding: 0; }

.example {
  font-family: sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 30px; }

.menu-burger {
  margin: 0 auto;
  background-color: #0d71bb;
  position: relative; }
  .menu-burger::after, .menu-burger::before, .menu-burger {
    width: 25px;
    height: 2px;
    display: block; }
  .menu-burger::after, .menu-burger::before {
    content: " ";
    background-color: inherit;
    position: absolute; }
  .menu-burger::before {
    top: -7px; }
  .menu-burger::after {
    top: 7px; }
  .menu-burger__wrapper {
    height: calc(14px + 20px * 2);
    width: calc(25px + 30px * 2);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dcdcdc; }

.close-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;
  overflow: hidden; }
  .close-icon::before, .close-icon::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 19px;
    transform: translate(-50%, -50%) rotate(45deg);
    height: 2px;
    background-color: #0d71bb; }
  .close-icon::after {
    transform: translate(-50%, -50%) rotate(-45deg); }
  .close-icon__wrapper {
    height: calc(15px + 20px * 2);
    width: calc(15px + 30px * 2);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dcdcdc; }

.arrow-left {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative; }
  .arrow-left::before, .arrow-left::after {
    content: "";
    display: block;
    background-color: #0d71bb;
    height: 2px;
    position: absolute;
    width: 14.14214px;
    content: "";
    left: 50%;
    top: 15px;
    transform: translate(-50%, -50%) rotate(0.7854rad); }
  .arrow-left::after {
    top: 6px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-0.7854rad); }
  .arrow-left__wrapper {
    height: calc(20px + 20px * 2);
    width: calc(20px + 30px * 2);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dcdcdc; }

.arrow-right {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative; }
  .arrow-right::before, .arrow-right::after {
    content: "";
    display: block;
    background-color: #0d71bb;
    height: 2px;
    position: absolute;
    width: 14.14214px;
    content: "";
    left: 50%;
    top: 6px;
    transform: translate(-50%, -50%) rotate(0.7854rad); }
  .arrow-right::after {
    top: 15px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-0.7854rad); }
  .arrow-right__wrapper {
    height: calc(20px + 20px * 2);
    width: calc(20px + 30px * 2);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dcdcdc; }

.arrow-top {
  width: 50px;
  height: 20px;
  display: inline-block;
  position: relative; }
  .arrow-top::before, .arrow-top::after {
    content: "";
    display: block;
    background-color: #0d71bb;
    height: 2px;
    position: absolute;
    width: 26.92582px;
    content: "";
    left: 13.46291px;
    transform: translate(-50%, -50%) rotate(0.38113rad); }
  .arrow-top::after {
    left: 28.92582px;
    transform: translate(-50%, -50%) rotate(-0.38113rad); }
  .arrow-top__wrapper {
    height: calc(20px + 20px * 2);
    width: calc(50px + 30px * 2);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dcdcdc; }

.arrow-left__wrapper, .arrow-right__wrapper {
  display: inline-flex; }
