@import "../auxents";

// Simple resets for example
*{
  margin:0;
  padding:0;
}

$wrapper_bg: #dcdcdc;
.example{
  font-family:sans-serif;
  margin-top:20px;
  margin-bottom:10px;
  padding-left:30px;
}
.menu-burger{
  @include menu-burger(#0d71bb, 25px, 15px);
}

.close-icon{
  @include close-icon(#0d71bb, 15px, 2px);
}
.arrow-left{
  @include arrow(20px, 10px, left);
}