@mixin menu-burger($color, $width, $height){
  // Settings for wrapper
  $strip_height: 2px;
  $wrapper_bg: #fafafa;
  $left_gutter: 30px;
  $top_gutter: 20px;

  margin: 0 auto;
  background-color: $color;
  position: relative;
  &::after, &::before, &{
    width: $width;
    height: $strip_height;
    display: block;
  }
  &::after, &::before{
    content: " ";
    background-color: inherit;
    position:absolute;
  }
  &::before{
    top: -$height / 2;
  }
  &::after{
    top: $height / 2;
  }
  &__wrapper{
    height: $height + $top_gutter * 2;
    width: $width + $left_gutter * 2;
    display: flex;
    align-items: center;
    background-color: $wrapper_bg;
  }
}

// Simple resets for example
*{
  margin:0;
  padding:0;
}

.menu-burger{
  @include menu-burger(#0d71bb, 25px, 15px);
}